body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Source Sans Pro', sans-serif;

  --color-primary: #9d439d;
  --color-primary-dark: #6e2c6e;

  --color-secondary: #5cb85c;

  --color-warn: #ff0000;

  --border-radius: 0.3rem;
  --background-violet: radial-gradient(#cf68ca, #9c479c);
}

.rl-form-group {
  width: 100%;
  margin: 0 0 1rem;
  min-width: 0;
  padding: 0;
  border: 0;
}

.rl-form-group label,
.rl-form-group--file label {
  color: #000;
  display: block;
  font-weight: bold;
  margin-block-end: 0.5rem;
}

.rl-form-control {
  display: block;
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.rl-form-control:focus {
  outline: 2px solid var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  box-shadow: 0 0 5px 5px rgb(110 44 110 / 50%);
}

.rl-form-group--file {
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0 0 1rem;
}

.rl-form-group--file input {
  display: none;
}

.rl-form-group--file label {
  margin-block-end: 1rem;
}

.rl-form-group--avatar {
  background: none;
  border: none;
  outline: none;
}

.rl-form-group--avatar {
  padding: 0.3rem;
  border: 2px solid white;
}

.rl-form-group--avatar:focus,
.rl-form-group--avatar:hover {
  border: 2px solid var(--color-primary-dark);
  box-shadow: 0 0 5px 5px rgb(110 44 110 / 50%);
  border-radius: 50%;
}

/* Links */

.rl-link {
  color: var(--color-primary-dark);
  font-weight: bold;
  text-decoration: none;
  outline-color: var(--color-primary-dark);
}

.rl-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* Banner messages */

.error-banner {
  padding: 0.5rem;
  background: darkred;
  color: white;
  margin-block-start: 0.5rem;
  border-radius: var(--border-radius);
}

.hint-banner {
  color: dimgrey;
  margin-block-end: 0.3rem;
}

/* Header */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.navbar-title {
  color: var(--color-secondary);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-item + .nav-item {
  margin-left: 1rem;
}

/* Auth */

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.auth-title {
  color: #000;
  text-align: center;
  margin-block-end: 0.5rem;
}

.auth-form {
  margin-block-start: 2rem;
}

/* Settings Page */

.settings-page {
  display: flex;
}

.settings-page hr {
  margin: 0 2rem;
}

.settings-page section {
  width: 100%;
}

.rl-navbar {
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  margin-inline-end: 2rem;
}

.rl-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.rl-navbar ul a {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem 1px 1rem 1rem;
  font-size: 1.25rem;
  font-weight: normal;
  width: 130px;
  margin-right: -3px;
}

.rl-navbar ul a:hover {
  text-decoration: none;
}

.rl-navbar ul a:not(.rl-active):hover {
  text-decoration: underline;
}

.rl-navbar ul a:focus-visible {
  border-right: 4px solid var(--color-primary-dark);
}

.rl-navbar ul a.rl-active {
  color: var(--color-primary-dark);
  font-weight: bold;
  border-right: 4px solid var(--color-primary-dark);
}

/* Buttons */

.rl-btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  outline: none;
  text-decoration: none;
}

.rl-btn-primary,
.rl-btn-secondary,
.rl-btn-warn {
  color: #fff;
}

.rl-btn-primary {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.rl-btn-primary:hover,
.rl-btn-secondary:hover,
.rl-btn-warn:hover {
  opacity: 0.7;
}

.rl-btn-primary:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--color-primary);
}

.rl-btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.rl-btn-secondary:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--color-secondary);
}

.rl-btn-warn {
  background-color: var(--color-warn);
  border-color: var(--color-warn);
}

.rl-btn-warn:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--color-warn);
}

/* Avatar */

.rl-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.rl-avatar-sm {
  height: 2rem;
  width: 2rem;
}

.rl-avatar-lg {
  height: 4rem;
  width: 4rem;
}

.rl-avatar-xl {
  height: 6rem;
  width: 6rem;
}

.rl-avatar-xxl {
  height: 10rem;
  width: 10rem;
}

.foot:hover {
  opacity: 0.5;
}

.foo:before {
  content: 'BUTTOsdfdsfsfdsfsdN';
  color: #000;
  position: absolute;
  white-space: pre;
  height: fit-content;
  display: flex;
  // width: 100%;
  align-items: center;
  justify-content: center;
}

.foo:hover:before {
  color: #000;
  font-weight: bold;
}
